@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #262F4B;
  --color-secondary: #E53935;
}

@layer base {
  body {
    @apply bg-[#F8F9FA] text-[#333333] antialiased font-sans m-0 p-0;
  }
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 25s linear infinite;
}
